@font-face {
  font-family: 'TitilliumWeb-Regular';
  src: url('../fonts/TitilliumWeb-Regular.eot');
  src: url('../fonts/TitilliumWeb-Regular.woff2') format('woff2'), url('../fonts/TitilliumWeb-Regular.woff') format('woff'), url('../fonts/TitilliumWeb-Regular.ttf') format('truetype'), url('../fonts/TitilliumWeb-Regular.svg#TitilliumWeb-Regular') format('svg'), url('../fonts/TitilliumWeb-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TitilliumWeb-Bold';
  src: url('../fonts/TitilliumWeb-Bold.eot');
  src: url('../fonts/TitilliumWeb-Bold.woff2') format('woff2'), url('../fonts/TitilliumWeb-Bold.woff') format('woff'), url('../fonts/TitilliumWeb-Bold.ttf') format('truetype'), url('../fonts/TitilliumWeb-Bold.svg#TitilliumWeb-Bold') format('svg'), url('../fonts/TitilliumWeb-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TitilliumWeb-SemiBold';
  src: url('../fonts/TitilliumWeb-SemiBold.eot');
  src: url('../fonts/TitilliumWeb-SemiBold.woff2') format('woff2'), url('../fonts/TitilliumWeb-SemiBold.woff') format('woff'), url('../fonts/TitilliumWeb-SemiBold.ttf') format('truetype'), url('../fonts/TitilliumWeb-SemiBold.svg#TitilliumWeb-SemiBold') format('svg'), url('../fonts/TitilliumWeb-SemiBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TitilliumWeb-Light';
  src: url('../fonts/TitilliumWeb-Light.eot');
  src: url('../fonts/TitilliumWeb-Light.woff2') format('woff2'), url('../fonts/TitilliumWeb-Light.woff') format('woff'), url('../fonts/TitilliumWeb-Light.ttf') format('truetype'), url('../fonts/TitilliumWeb-Light.svg#TitilliumWeb-Light') format('svg'), url('../fonts/TitilliumWeb-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Damion';
  src: url('../fonts/Damion.woff') format('woff'), url('../fonts/Damion.ttf') format('truetype'), url('../fonts/Damion.svg#Damion') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TitilliumWeb-Italic';
  src: url('../fonts/TitilliumWeb-Italic.eot');
  src: url('../fonts/TitilliumWeb-Italic.woff2') format('woff2'), url('../fonts/TitilliumWeb-Italic.woff') format('woff'), url('../fonts/TitilliumWeb-Italic.ttf') format('truetype'), url('../fonts/TitilliumWeb-Italic.svg#TitilliumWeb-Italic') format('svg'), url('../fonts/TitilliumWeb-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
html {
  overflow-x: hidden;
}
header.top-header {
  font-family: 'TitilliumWeb-Regular';
  color: #eeebf0;
  background: #87509c;
  min-height: 590px;
}
header.top-header .top-line {
  padding-top: 30px;
}
header.top-header .logo a {
  display: inline-block;
  min-height: 50px;
  min-width: 150px;
  background: url(../img/logo.png) no-repeat;
}
header.top-header .navbar a {
  color: #eeebf0;
  font-size: 16px;
  font-weight: 550;
  text-transform: uppercase;
}
header.top-header .navbar a:focus {
  background: transparent;
}
header.top-header .navbar a:hover {
  border-radius: 5px;
  background-color: #794a90;
}
header.top-header .active {
  background: #643a79;
  border-radius: 5px;
}
header.top-header .col-md-8 {
  float: right;
}
header.top-header .navbar {
  float: right;
  padding-right: 20px;
}
header.top-header .navbar li {
  padding-right: 30px;
}
header.top-header h1 {
  font-family: 'TitilliumWeb-Bold';
  color: #f7f3ea;
  font-size: 42.16px;
  padding-top: 70px;
  padding-bottom: 70px;
}
header.top-header .main-btn {
  outline: none;
  width: 292px;
  height: 68px;
  background: #eb7d4b;
  font-family: 'TitilliumWeb-SemiBold';
  font-size: 18px;
  color: #fff;
  border: none;
  margin-bottom: 20px;
  border-bottom: 4px solid #c16238;
  box-shadow: 0 0 10px 0 #c86a40;
}
header.top-header .b button:hover {
  border-bottom: none;
  margin-top: 4px;
  background: #ea7642;
}
header.top-header .b button:focus {
  background: #ea7642;
}
header.top-header .b button:active {
  outline: none;
  background: #ea7642;
  color: #fff;
}
.head {
  color: #fff;
}
.head h2 {
  font-family: 'TitilliumWeb-Bold';
  font-size: 40px;
  text-transform: uppercase;
  background: url(../img/line.png) no-repeat;
  background-position: 50% 90%;
  padding-bottom: 30px;
}
.head p {
  font-family: 'TitilliumWeb-Regular';
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 20px;
}
section.services {
  background: #17c2a4;
}
section.services div.serv-card:nth-of-type(1) {
  background: url(../img/services-1.png) no-repeat;
  background-position: 60% 18%;
}
section.services div.serv-card:nth-of-type(2) {
  background: url(../img/services-2.png) no-repeat;
  background-position: 60% 18%;
}
section.services div.serv-card:nth-of-type(3) {
  background: url(../img/services-3.png) no-repeat;
  background-position: 60% 18%;
}
section.services div.serv-card:nth-of-type(4) {
  background: url(../img/services-4.png) no-repeat;
  background-position: 60% 18%;
}
section.services .serv-card {
  text-align: center;
  color: #fff;
  padding-bottom: 90px;
}
section.services .serv-card h3 {
  padding-top: 205px;
  font-family: 'TitilliumWeb-Bold';
  font-size: 24px;
  text-transform: uppercase;
}
section.services .serv-card p {
  font-family: 'TitilliumWeb-Light';
  font-size: 16px;
}
section.team {
  background: #e7f1f8;
}
section.team .head {
  color: #3c4761;
}
section.team div.team-card:nth-of-type(1) {
  background: url(../img/prof-img.png) no-repeat;
  background-position: 50% 10%;
}
section.team div.team-card:nth-of-type(2) {
  background: url(../img/prof-img.png) no-repeat;
  background-position: 50% 10%;
}
section.team div.team-card:nth-of-type(3) {
  background: url(../img/prof-img.png) no-repeat;
  background-position: 50% 10%;
}
section.team div.team-card:nth-of-type(4) {
  background: url(../img/prof-img.png) no-repeat;
  background-position: 50% 10%;
}
section.team .team-card {
  padding-top: 240px;
  margin-bottom: 40px;
  text-align: center;
}
section.team .team-card h3 {
  font-family: 'TitilliumWeb-Bold';
  font-size: 24px;
  text-transform: uppercase;
}
section.team .team-card h4 {
  font-family: 'TitilliumWeb-Regular';
  font-size: 16px;
  color: #30bae7;
}
section.team .team-card p {
  font-family: 'TitilliumWeb-Light';
  font-size: 16px;
}
section.team .team-card .socials img {
  padding-left: 7px;
  padding-bottom: 10px;
}
section.skills .head {
  color: #3c4761;
}
section.skills .skill-card {
  font-family: 'TitilliumWeb-Bold';
  font-size: 24px;
  color: #3c4761;
  text-transform: uppercase;
}
section.skills .skill-card h3 {
  margin-top: 0px;
  margin-bottom: 100px;
}
section.portfolio {
  padding-top: 100px;
  background: #ffdd99;
}
section.portfolio .head {
  color: #393939;
}
section.portfolio .buttons .col-md-12 {
  margin-left: 32%;
}
section.portfolio .buttons button {
  outline: none;
  width: 70px;
  height: 40px;
  background: transparent;
  border: none;
  text-transform: uppercase;
  font-family: 'TitilliumWeb-Regular';
  font-size: 18px;
  color: #393939;
  border-radius: 5px;
  background: #ebc985;
}
section.portfolio .buttons button:hover {
  background: #e4b659;
}
section.portfolio .buttons .active {
  background: #fff;
}
section.portfolio .buttons button.active:hover {
  background: #fff;
}
section.portfolio .buttons .col-md-3 {
  margin-left: 15px;
  width: 6%;
}
section.portfolio .projects {
  padding-top: 60px;
  padding-bottom: 40px;
}
section.portfolio .projects div.col-md-6:nth-of-type(1) a.project {
  background: url(../img/port-1.png) no-repeat;
  background-position: 50% 10%;
}
section.portfolio .projects div.col-md-6:nth-of-type(2) a.project {
  background: url(../img/port-2.png) no-repeat;
  background-position: 50% 10%;
}
section.portfolio .projects div.col-md-6:nth-of-type(3) a.project {
  background: url(../img/port-3.png) no-repeat;
  background-position: 50% 10%;
}
section.portfolio .projects div.col-md-6:nth-of-type(4) a.project {
  background: url(../img/port-4.png) no-repeat;
  background-position: 50% 10%;
}
section.portfolio .projects a.project {
  font-family: 'TitilliumWeb-Regular';
  font-size: 18px;
  text-transform: uppercase;
  color: #60584a;
  display: inline-block;
  width: 550px;
  height: 380px;
  padding-top: 340px;
  margin-bottom: 20px;
}
section.portfolio .projects a.project div {
  display: inline-block;
}
section.portfolio .projects a.project:hover {
  border: 2px solid #e5c689;
  padding-bottom: 32px;
}
section.portfolio .projects-btn button {
  outline: none;
  font-family: 'TitilliumWeb-SemiBold';
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  background: #17c2a4;
  width: 295px;
  height: 66px;
  border-radius: 5px;
  border-bottom: 4px solid #14a58c;
  margin-bottom: 90px;
}
section.portfolio .projects-btn button:focus {
  background: #129c84;
}
section.portfolio .projects-btn button:hover {
  background: #18ac92;
  margin-top: 4px;
  margin-bottom: 86px;
  border-bottom: none;
}
section.about_us {
  background: #d74680;
}
section.about_us .head {
  padding-top: 40px;
}
section.about_us .talks {
  font-family: 'TitilliumWeb-Regular';
  color: #fff;
}
section.about_us .talks .talk {
  background: url(../img/user_img.png) no-repeat;
  padding-left: 150px;
  padding-bottom: 120px;
  margin-top: 80px;
}
section.about_us .talks .talk i {
  font-size: 19px;
  font-style: italic;
}
section.about_us .talks .talk h3 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
section.about_us .talks .talk h4 {
  margin-top: -5px;
  color: #ffdd99;
  font-size: 18px;
  font-weight: 400;
}
section.touch {
  background-color: #3c5499;
}
section.touch .bottom_form {
  font-family: 'TitilliumWeb-Regular';
  color: #fff;
  /* Firefox 19+ */
  /* Firefox 18- */
  /*chrome*/
  /* firefox 19+ */
  /* ie10 */
}
section.touch .bottom_form ::-webkit-input-placeholder {
  font-family: 'TitilliumWeb-Regular';
  color: #fff;
}
section.touch .bottom_form ::-moz-placeholder {
  font-family: 'TitilliumWeb-Regular';
  color: #fff;
}
section.touch .bottom_form :-moz-placeholder {
  font-family: 'TitilliumWeb-Regular';
  color: #fff;
}
section.touch .bottom_form :-ms-input-placeholder {
  font-family: 'TitilliumWeb-Regular';
  color: #fff;
}
section.touch .bottom_form ::-webkit-input-placeholder:after {
  content: '*';
  color: red;
}
section.touch .bottom_form ::-moz-placeholder:after {
  content: '*';
  color: red;
}
section.touch .bottom_form :-ms-input-placeholder:after {
  content: '*';
  color: red;
}
section.touch .bottom_form input {
  outline: none;
  padding-left: 15px;
  border: none;
  width: 414px;
  height: 56px;
  border-radius: 4px 3px 3px 4px;
  background-color: #273a71;
}
section.touch .bottom_form textarea {
  outline: none;
  width: 860px;
  height: 200px;
  padding: 15px;
  border: none;
  border-radius: 4px;
  padding-bottom: 20px;
  background-color: #273a71;
  margin-top: 30px;
  margin-bottom: 40px;
}
section.touch .bottom_form button {
  outline: none;
  width: 253px;
  height: 60px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #30bae7;
  margin-bottom: 100px;
  border-bottom: 4px solid #269bc1;
}
section.touch .bottom_form button:hover {
  border-bottom: none;
  margin-top: 4px;
  margin-bottom: 96px;
  background: #19abda;
}
footer.footer {
  background-color: #344b8e;
  padding-top: 15px;
  padding-bottom: 15px;
}
footer.footer .col-md-1 {
  margin-left: 35px;
}
footer.footer .col-md-1 h3 {
  font-family: 'TitilliumWeb-Regular';
  color: #fff;
  font-size: 24px;
}
footer.footer .col-md-1 a {
  color: #fff;
  text-decoration: none;
}
footer.footer .col-md-1 a:hover {
  color: #30bae7;
}
footer.footer .col-md-1:nth-of-type(1) {
  margin-left: 100px;
}
footer.footer .col-md-1:nth-of-type(2) {
  margin-left: 50px;
}
